<div style="margin-left: 50px;">
  <br>
  <div class="demo-button-container">
    <button mat-stroked-button (click)="addData()" style="margin-right: 20px;" class="primary-button" color="primary">
      <mat-icon aria-hidden="false">add</mat-icon> Add New Employee
    </button>
    <button mat-stroked-button [disabled]="!dataSource.length" (click)="removeData()" class="demo-button" color="warn">
      <mat-icon aria-hidden="false">delete</mat-icon> Remove Employee
    </button>
  </div>
  <br>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" style="display: inline-block; ">
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td style="width: 30px;" mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td style="width: 100px;" mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td style="width: 200px;" mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>