<div style="text-align: center;">
    <mat-card class="example-card" style="display: inline-block; margin-top: 50px; ">

        <mat-card-title>Add New Employee</mat-card-title>

        <mat-card-content style="padding:30px; padding-bottom: 0px;">
            <form class="example-form" >
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Employee ID" [(ngModel)]="id" name="id" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Employee Name" [(ngModel)]="name" name="name" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Address" [(ngModel)]="address" name="address" required>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Phone No." [(ngModel)]="phone" name="phone" required>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button (click)="addNewEmployee()" class="primary-button" color="primary">
                <mat-icon aria-hidden="false">add</mat-icon> Add 
              </button>
        </mat-card-actions>
    </mat-card>
</div>